@use '../../Foundation';

.p-top
 {
    min-height: 40vh;
    position: relative;
    &__container {
     width: 95vw;
    }
    &__title{
        text-align: center;
        margin-bottom: 3em;
        @include Foundation.mq('tab-pc') {
            margin-bottom: 4em;
    }}
    &__description{
        text-align: center;
        margin-bottom: 2em;
        font-family: Foundation.$j-family;
    }
}